@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    font-family:'Roboto', Courier, monospace;
    padding: 0;
    margin: 0;
}

body{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-row: 1fr 5fr;

}

.sidebar{
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    display: grid;
    grid-template-rows: auto auto auto 1fr;
    gap: 32px;
}

.upbar{
    grid-column: 2 / 4;
    grid-row: 1 / 2;
}

.up-half{
    margin: 14px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.searchbar{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1 / 3;
}

.searchbar > button{
    padding: 0 16px;
}

.info-holder{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: right;
    margin-right: 4em;
    margin-left: 2em;
    align-items: center;
    gap: 20px;
    grid-column: 3 / 4;
}

.down-half{
    margin: 20px 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.greeting{
    display: grid;
    grid-template-columns: 80px auto;
}

.greeting > .largest{
    grid-column: 2 / 3;
}

.greeting > .normal{
    grid-column: 2 / 3;
}

.greeting > img{
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.create-btns{
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: 40px;
    gap: 40px;
    justify-content: right;
    align-content: space-evenly;
    margin-right: 4em;
}

.create-btns > button{
    background-color: #34d399;
    border-radius: 25px;
}

.projects{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.sidebar-info{
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.icon{
    width: 25px;
    height: auto;
}

.largest{
    font-size: 28px;
    font-weight: 500;
}

.large{
    font-size: 20px;
    font-weight: 500;
}

.normal{
    font-size: 15px;
}

.small{
    font-size: 13px;
}

.pfp-small{
    width: 45px;
    height: auto;
}

.pfp-large{
    width: 70px;
    height: auto;
}

.nav-item{
    display: flex;
    align-items: center;
}

.nav-item > img{
    padding: 10px 20px;
    text-align: center;
}

.logo{
    display: flex;
    align-items: center;
}

.logo > img{
    padding: 10px;
}

.logo, .navigation{
    margin-right: 16px;
}

#search{
    border: none;
    background-color: #d1fae5;
    border-radius: 20px;
    width: 70%;
    height: 30px;
}

button{
    border: none;
}

.pfp-large, .pfp-small{
    border-radius: 50%;
}